body {
  background-color: #eee;
}

.shadow-box{
  /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.well {
  background-color: #fff;
}

.center-block {
  float: none;
}

.full-width {
  width: 100%;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.form-end {
  margin-bottom: 0;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #313333;
  padding: 12px 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 99999;
}

#logo {
  display: block;
  background-color: green;
  height: 34px;
  width: 34px;
  margin-right: 16px;
  border-radius: 3px;
}

#user-menu {
  margin-left: 16px;
}

#main {
  display: block;
  padding-top: 78px;
  float: none;
}


.post-header {
  display: flex;
}

.post-title {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5px;
  width:100%;
}

.post-title p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

post-title a>p{
  text-overflow:ellipsis;
}

.post-time {
  font-size: 11px;
  color: #8899a6;
}

.headerIMGContainer {
  padding: 10px;
  margin: auto;
  height: 250px;
  display: block;
  overflow: hidden;
  position: relative;
  z-index:-100;
}

.img-thumbnail {
  height: 180px;
  width: 180px;
  margin-right: 20px;
}

.donor-info {
  height: 180px;
  overflow: auto; /* TODO: THIS IS A HACK*/;
  flex-grow: 1;
  margin-left:5%;
  padding: 10px 10px 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.donor-toolbar {
    height: 30px;
  text-align: right;
}

.donor-page-container {
  position: relative;
  display: block;
  top: 60px;
  margin: auto;
  width: 100%;
}

.donor-header {
  display: flex;
  justify-content: space-between;
  margin-top: -100px;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

#donor-profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

#donor-profile p {
    font-size: 13px;
}

.donor-thumbnail {
    margin-right: 10px;
}

.profile-thumbnail {
    width: 34px;
    height: 34px;
    margin-right: 10px;
}

.search-result-thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.btn-margin{
  margin: 0 10px;
}

.charity-title {
  margin-top: -100px;
  padding-top: 0;
  width:70%;
  padding-bottom: 0;
}

.charity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0;
  margin-top: -5px;
}

#newPost {
  resize: none;
}

.stat-graphic {
  height: 350px;
  width: 350px;
  z-index: -100;
}

.stat-graphic-container {
  text-align: center;
  overflow: hidden;
}
/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 20px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
    line-height: 20px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
.no-display {
  display: none;
}
.display {
  display: block; 
}
.form-padding {
  padding: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.form-padding-top {
  padding-top: 8px;
}
.form-padding-negative {
  margin-bottom: -8px;
}
.icon-color {
  color: white;
}
.checkbox-right {
  float: right;
}
.signup-input-left {
  padding-bottom: 8px;
}

.search-list {
    position: absolute;
    margin-top: 37px;
    margin-left: 50px;
    width: 300px;
    background: white;
    border-radius: 5px;
}

.search-list:focus {
     outline: none;
 }

.search-list ul {
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-list li {
    list-style-type: none;
    margin: 0;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
}

.search-list a {
    text-decoration: none;
}

.search-list li:hover {
    background: lightblue;
 }

.component-header {
    border: 0;
    padding: 5px;
    margin-bottom: 5px;
    color:#777;
    font-size: 1.125em;
    color: #2aa7dc;
    text-shadow: 1px 1px 2px #CACCCE; /*0 0 25px blue, 0 0 5px darkblue;*!*/
}

.suggest-list li{
    padding: 10px;
}

.suggest-list button{
    width: 40%;
    height: 30%;
    padding: 0;
    font-size: 0.75em;
}

.suggest-img{
    width:60px;
}

.search-head {
    width: 80%;
    height: 100px;
}

.search-container-all {
    margin-top: 70px;
}

.search-list .allRes {
    border-radius: 5px;
    color:deepskyblue;
}

.search-container {
    margin-left: 20px;
    float: left;
}

.friendsButton {
    align-items: right;
}
